<div class="animation-area">
    <div class="box-area">
        <img src="../../assets/img/corona-hied.svg" alt="" class="myimg">
        <img src="../../assets/img/corona-hied.svg" alt="" class="myimg">
        <img src="../../assets/img/corona-hied.svg" alt="" class="myimg">
        <img src="../../assets/img/corona-hied.svg" alt="" class="myimg">
        <img src="../../assets/img/corona-hied.svg" alt="" class="myimg">
        <img src="../../assets/img/corona-hied.svg" alt="" class="myimg">
        <nav class="navbar navbar-expand-lg navbar-light" style="direction:rtl;background: #fff8f8;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#" style="font-size: 20px; font-weight: 500">
                <img src="../../assets/img/corona-logo.svg" width="30" height="30" alt="" loading="COVID-19"> COVID-19
            </a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#الرئيسي" style="color: #035755;">الرئيسي</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#الفيروس" style="color: #035755;">الفيروس</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#الاعراض" style="color: #035755;">الاعراض</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#الوقاية" style="color: #035755;">الوقاية</a>
                    </li>
                    <li class="nav-item active">
                        <button href="#الاحصائيات" class="btn btn-outline-success mu-button" type="submit">الاحصائيات</button>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="mu-home" id="الرئيسي">
            <div class="row" style="margin-left:0">
                <div class="col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 mu-home-text">
                    <div>
                        <span class="mu-h-t1">تنبيه COVID-19</span>
                        <h2 class="mu-h-t2">البقاء في المنزل والحجر المنزلي سوف يوقف فيروس كورونا من الانتشار.</h2>
                        <h6 class="mu-h-t3">لا يوجد دواء لمنع أو علاج مرض فيروس (COVID-19) والحل الوحيد المتاح حالياً هو التباعد ألاجتماعي, عدم المخالطة والحجر المنزلي.</h6>
                        <button routerLink="/cases" class="uk-button mu-h-b">الاحصائيات العالمية</button>

                    </div>
                </div>
                <div class="col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6" style="padding: 0; text-align:left;">
                    <img src="../../assets/img/more.svg" alt="" style="width: 650px;padding-top: 20px;">

                </div>
            </div>

        </div>

        <div class="container">
            <div class="row" id="الفيروس">
                <div class="col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 mu-c-img" style="text-align:center;">
                    <img src="../../assets/img/corona-v.svg" alt="" width="450px">
                </div>

                <div class="col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6" style="padding-top:80px">
                    <span class="mu-c-c">ما هو COVID-19؟</span>
                    <h2 class="mu-c-title">كورونا فيروس</h2>
                    <p class="mu-c-text">هو مرض معد سببه أخر فايروس من سلالة فيروسات كورونا. لم يكن العالم على دراية بوجود هذا الفيروس الجديد وأعراضه حتى بدأ يتفشى في مدينة ووهان الصينية في كانون الاول/ ديسمبر 2019. وقد تحول كوفيد- 19 ألان الى جائحة تؤثر على معظم بلدن العالم.
                    </p>
                    <button routerLink="/Ask" class="uk-button" style="background-color: #ffe1e1;color: #F0413C;font-weight: 600;border-radius: 20px;">اعرف اكثر
                    </button>

                </div>
            </div>
            <div class="row" id="الانتقال">
                <div class="col-12" style="text-align:center; padding-bottom: 10px">
                    <span style="color:#fb4c47;font-weight: 700; font-size: 13px">COVID-19</span>
                    <h3 style="margin:0;color:#035755;font-weight:800;">مرض معدي</h3>
                </div>
                <img src="../../assets/img/corona-hied.svg" alt="" width="100px" style="position: absolute;padding-top: 302px;margin-left: 15px;left:0">

                <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 ">
                    <div class="uk-card uk-card-default mu-card">
                        <img src="../../assets/img/corona-shot.svg" alt="" width="160px">
                        <h3 style="margin:0;color:#128e5a;font-weight:800; padding-top:15px">ينتقل عبر الهواء</h3>
                        <p> يستطيع الفيروس أن يتنقل عن طريق القطيرات الصغيرة التي يفرزها جسد الشخص المصاب ب كوفيد-19 عن طريق ألانف أو الفم, عندما يسعل أو يعطس أو يتكلم.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="uk-card uk-card-default mu-card">
                        <img src="../../assets/img/corona-hello.svg" alt="" width="160px" style="margin-top: -20px;">
                        <h3 style="margin:0;color:#128e5a;font-weight:800; padding-top:15px">المصافحة</h3>
                        <p>المصافحة هي أحدى الطرق التي تؤدي الى اصابتك بالفيروس, لذلك تجنب المصافحة و أكتفي بألقاء التحية عن بعد مسافة لا تقل عن 1 متر. أغسل يديك بالماء والصابون اذا ما اضطررت للمصافحة.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="uk-card uk-card-default mu-card">
                        <img src="../../assets/img/corona-food.svg" alt="" width="160px">
                        <h3 style="margin:0;color:#128e5a;font-weight:800; padding-top:15px">لمس الاشياء</h3>
                        <p>وقد تحط هذه القطيرات التي يفرزها الشخص المصاب ب كوفيد-19 عن طريق ألانف أو الفم على الاشياء وألاسطح المحيطة بالشخص, مثل ألاطعمة, الطاولات, مقابض الباب و السلالم.</p>
                    </div>
                </div>

            </div>
            <div class="row" id="الاعراض">
                <div class="col-12" style="text-align:center; padding: 50px 0">
                    <span style="color:#fb4c47;font-weight: 700; font-size: 13px">COVID-19</span>
                    <h2 style="margin:0;color:#035755;font-weight:800; ">الاعراض</h2>
                    <p class="mu-w-p">
                            فيروس كورونا هو نوع من الفيروسات التاجية وهناك العديد من الانواع المختلفة, تسبب النوع الذي تم اكتشافه مؤخراً بالعديد من ألاعراض ومنها:                    </p>
                    <img src="../../assets/img/corona-info.svg" alt="COVID-19" width="600px">

                </div>
            </div>
            <div class="row" id="الوقاية">
                <div class="col-12" style="text-align:center; padding-top: 50px;">
                    <span style="color:#fb4c47;font-weight: 700; font-size: 13px">COVID-19</span>
                    <h2 style="margin:0;color:#035755;font-weight:800; ">الوقاية</h2>
                    <p class="mu-w-p">
                        نستطيع تجنب فيروس كورونا باستخدام طرق الوقاية من هذا الفايروس التي اشادت بها منظمة الصحة العالمية التي تتمثل بما يلي:
                    </p>
                    <div class="row" style="padding-top:20px">
                        <div class="col-4 col-xl-6 col-lg-6 col-md-6 col-sm-4">
                            <img src="../../assets/img/corona-wear.svg" alt="" width="300px">
                        </div>
                        <div class="col-8 col-xl-6 col-lg-6 col-md-6 col-sm-8 mu-t-w">
                            <div class="row">
                                <div class="col-1">
                                    <span style="color:#fb4c47;font-weight: 700; font-size: 18px;background-color: #ffe1e1;border-radius: 50px;padding:10px;">01</span>
                                </div>
                                <div class="col-11 mu-h-p">
                                    <h3 class="uk-card-title uk-margin-remove-bottom mu-h-t">
                                        ارتداء القناع الطبي (الكمامة)</h3>
                                    <p class="uk-text-meta uk-margin-remove-top mu-h-d">
                                        <time>
                                            يجب ارتداء القناع الطبي عند مغادرة المنزل أو أثناء وجودك في المنطقة التجارية للتسوق ، وكذلك في وسائل النقل ، لأن ارتداء القناع الطبي يساعد على وقف انتشار الفيروس
                                        </time>
                                    </p>


                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-8 col-xl-6 col-lg-6 col-md-6 col-sm-8 mu-t-w">
                            <div class="row">
                                <div class="col-1">
                                    <span style="color:#fb4c47;font-weight: 700; font-size: 18px;background-color: #ffe1e1;border-radius: 50px;padding:10px;">02</span>
                                </div>
                                <div class="col-11 mu-h-p">
                                    <h3 class="uk-card-title uk-margin-remove-bottom mu-h-t">
                                        غسل اليدين باستمرار</h3>
                                    <p class="uk-text-meta uk-margin-remove-top mu-h-d">
                                        <time>
                                            يجب غسل اليدين وبانتظام وبمدة 25 ثانية على الاقل باستخدام مواد التنظيف والمعقمات لان مواد التنظيف الكيميائية تساعد في قتل
                                            فيروس كورونا.
                                        </time>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 col-xl-6 col-lg-6 col-md-6 col-sm-4" style="padding-top: 30px;">
                            <img src="../../assets/img/corona-wish.svg" alt="" width="300px">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-4 col-xl-6 col-lg-6 col-md-6 col-sm-4" style="padding-top: 30px;">
                            <img src="../../assets/img/corona-noes.svg" alt="" width="300px">
                        </div>
                        <div class="col-8 col-xl-6 col-lg-6 col-md-6 col-sm-8 mu-t-w">
                            <div class="row">
                                <div class="col-1">
                                    <span style="color:#fb4c47;font-weight: 700; font-size: 18px;background-color: #ffe1e1;border-radius: 50px;padding:10px;">03</span>
                                </div>
                                <div class="col-11 mu-h-p">
                                    <h3 class="uk-card-title uk-margin-remove-bottom mu-h-t">
                                        استخدام المناديل الورقية</h3>
                                    <p class="uk-text-meta uk-margin-remove-top mu-h-d">
                                        <time>
                                            تجنب ملامسة عينيك او انفك او فمك ويديك غير النظيفتين, يفضل استخدام المناديل الورقية عند لمس وجهك او العطاس لتجنب انتشار فيروس كورونا.
                                        </time>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 col-xl-6 col-lg-6 col-md-6 col-sm-8 mu-t-w">
                            <div class="row">
                                <div class="col-1">
                                    <span style="color:#fb4c47;font-weight: 700; font-size: 18px;background-color: #ffe1e1;border-radius: 50px;padding:10px;">04</span>
                                </div>
                                <div class="col-11 mu-h-p">
                                    <h3 class="uk-card-title uk-margin-remove-bottom mu-h-t">
                                        تجنب المصافحة</h3>
                                    <p class="uk-text-meta uk-margin-remove-top mu-h-d">
                                        <time>
                                            ان المصافحة هي احدى اسباب انتقال فيروس كورونا عن طريق اليد, تجنب المصافحة والذهاب الى التجمعات بأنواعها واكتف بالسلام عن بعد او التواصل عّن طريق الانترنيت.
                                        </time>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 col-xl-6 col-lg-6 col-md-6 col-sm-4" style="padding-top: 30px;">
                            <img src="../../assets/img/corona-coect.svg" alt="" width="300px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-image: linear-gradient(white,#fff0f0);">
            <div class="container">
                <div class="row" id="الاحصائيات">
                    <!--    الدول    -->
                    <div class="col-12 col-xl-4 col-lg-4 col-md-12 col-sm-12 ">

                        <div class="uk-card uk-card-default " style="padding: 15px 20px;text-align: right;">
                            <h4 style="margin:0;color:#128e5a;font-weight:800; padding-top:15px">الاحصائيات العالمية</h4>
                            <div style="text-align: left">
                                <app-seleton-loader *ngIf="!loaded" Cwidth="100%" Cheight="20"></app-seleton-loader>
                                <app-seleton-loader *ngIf="!loaded" Cwidth="100%" Cheight="20"></app-seleton-loader>
                                <app-seleton-loader *ngIf="!loaded" Cwidth="100%" Cheight="20"></app-seleton-loader>
                                <app-seleton-loader *ngIf="!loaded" Cwidth="100%" Cheight="20"></app-seleton-loader>
                                <ul *ngIf="loaded" class="list-group" style="padding:0">
                                    <li class="list-group-item d-flex" Style="border:none">
                                        <div style="text-align: right;width:50%;">
                                            <span>{{datastatus[0].status}}</span>
                                        </div>
                                        <div style="width:50%; text-align: left">
                                            {{datastatus[0].name}}
                                            <img src={{datastatus[0].img}} width="30px" style="margin-right: 5px;">
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex" Style="border:none">
                                        <div style="text-align: right;width:50%;">
                                            <span>{{datastatus[1].status}}</span>
                                        </div>
                                        <div style="width:50%; text-align: left">
                                            {{datastatus[1].name}}
                                            <img src={{datastatus[1].img}} width="30px" style="margin-right: 5px;">
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex" Style="border:none">
                                        <div style="text-align: right;width:50%;">
                                            <span>{{datastatus[2].status}}</span>
                                        </div>
                                        <div style="width:50%; text-align: left">
                                            {{datastatus[2].name}}
                                            <img src={{datastatus[2].img}} width="30px" style="margin-right: 5px;">
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex" Style="border:none;">
                                        <div style="text-align: right;width:50%;">
                                            <span>{{datastatus[3].status}}</span>
                                        </div>
                                        <div style="width:50%; text-align: left">
                                            {{datastatus[3].name}}
                                            <img src={{datastatus[3].img}} width="30px" style="margin-right: 5px;">
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex" Style="border:none;padding:0px 15px;">
                                        <button class="uk-button" routerLink="/cases" style="width:100%;    background-color: #F0413C;color: white;border-radius: 5px;font-weight: 700;font-size: 16px;padding: 0px 5px;">المزيد من الاحصائيات</button>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>
                    <!--   الخريطة   -->
                    <div class="col-12 col-xl-8 col-lg-8 col-md-12 col-sm-12 mu-map">
                        <div class="map" id="map" style=" width: 100%;"></div>
                    </div>
                </div>
                <div class="row justify-content-center" style="padding-top:20px;">
                    <div class="col-12 mu-m-t">
                        <h3 class="mu-m-h">هل لديك سؤال؟ دعنا نساعدك اكتب الايميل الخاص بك وسوف نراسلك</h3>
                    </div>
                    <div class="col-12 col-xl-7 col-lg-7 col-md-12 col-sm-12 " style="text-align: center; padding:2px 10px;background-color:white;border-radius:22px;text-align:end;">
                        <input  [(ngModel)]="emailtoreset" class="uk-input mu-m-b" style="border:none;" type="text" placeholder="example@gmail.com">
                        <button uk-toggle="target: #modal-example"  class="uk-button" style="    background-color: #F0413C;color: white;border-radius: 20px;font-weight: 700;font-size: 16px;padding: 0px 44px;">ارسال</button>
                        <div id="modal-example" uk-modal>
                                <div class="uk-modal-dialog uk-modal-body">
                                    <h4 class="uk-modal-title">من فضلك اكتب سؤالك وسنقوم بالرد عليك قريبا</h4>
                                    <form>
                                            <fieldset class="uk-fieldset">            
                                                <div class="uk-margin">
                                                    <input [(ngModel)]="emailtoreset" value="emailtoreset" name="emailtoreset" placeholder="emailtoreset"  class="uk-input" type="text" placeholder="اكتب الاميل الخاص بك">
                                                </div>
                                                <div class="uk-margin">
                                                    <textarea [(ngModel)]="text" name="text" class="uk-textarea" rows="5" placeholder="اكتب الرسالة هنا"></textarea>
                                                </div>            
                                            </fieldset>
                                        </form>        
                                                <div class="uk-modal-footer uk-text-right" style="border-radius: 15px">
                                                        <button onclick="UIkit.notification({message: 'تم الارسال بنجاح',status: 'success'})" (click)="sendEmail()" class="uk-button uk-button-default uk-modal-close mu-button" style="border-radius: 0" type="button">ارسال</button>

                                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row" style="padding-top:50px;">
                    <div class="col-3" style="font-size: 13px;padding: 3px;">
                        <img src="../../assets/img/corona-logo.svg" width="25" height="30" alt="" loading="COVID-19"> COVID-19
                    </div>
                    <div class="col-6" style="text-align:center">
                        <span style="color:#128e5a;font-size: 13px;">Thanks to
                            <a style="color: #fc6561;" href="https://dribbble.com/Pixelspark">Pixelspark</a>
                            team for design photos</span>
                    </div>
                    <div class="col-3" style="text-align: center;     padding: 0px;">
                        <a href="https://www.linkedin.com/in/muqtada-najm/">
                            <i class="fab fa-linkedin" style="font-size:22px;padding:5px;color:#035755;"></i>
                        </a>
                        <a href="https://t.me/wounds">
                            <i class="fab fa-telegram-plane" style="font-size:22px;padding:5px;color:#035755;"></i>
                        </a>
                        <a href="https://instagram.com/077.f">
                            <i class="fab fa-instagram" style="font-size:22px;padding:5px;color:#035755;"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" style="text-align:center;">
                        <h6>2020 @ All rights reserved by
                            <a href="https://season-iq.com" style="color:#128e5a">season-iq</a> by Muqtada Najm</h6>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>